html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#ddd), to(#999));
  background-image: linear-gradient(to right, #ddd, #999);
  height: 100vh;
  overflow-x: hidden;
}

.main-hood {
  height: 85vh;
  min-height: 620px;
  width: 90vw;
  min-width: 700px;
  max-width: 1400px;
  background-image: -webkit-gradient(linear, left top, right top, from(#000014), to(#010132));
  background-image: linear-gradient(to right, #000014, #010132);
  border-radius: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapper {
  height: 500%;
  width: 80%;
  position: relative;
  margin: auto;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.container {
  width: 100%;
  height: 20%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.statusbar {
  position: absolute;
  width: 100%;
  height: 4rem;
  top: 1.8rem;
  font-family: 'fira code';
  font-size: 1.6rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statusbar .right-status {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 4rem;
  width: 20rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.statusbar .time {
  font-weight: 400;
  position: relative;
  left: 4rem;
}

.statusbar img {
  height: 20px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 60rem;
  width: 100px;
  position: relative;
  left: 25px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .fas {
  font-size: 4.2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#666));
  background-image: linear-gradient(to bottom, #fff, #666);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  position: relative;
}

.nav {
  position: absolute;
  height: 6.4rem;
  top: 5.5rem;
  border-left: 10px solid cyan;
  left: 0;
  border-radius: 30px;
  -webkit-box-shadow: 1rem 0 3.2rem #08d4f8;
          box-shadow: 1rem 0 3.2rem #08d4f8;
  -webkit-transform: translateY(21.4rem);
          transform: translateY(21.4rem);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.location {
  height: 85%;
  width: 100%;
  border-radius: 30px;
  margin: auto;
}

.home {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-hood {
  height: 60%;
  border-left: 3px solid #03b5fc;
  border-right: 3px solid #03b5fc;
  -webkit-box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.26);
          box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.26);
  width: 85%;
  border-radius: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.speed {
  color: #ddd;
  font-family: "Poppins", sans-serif;
}

.speed .speed-num {
  font-size: 8rem;
  font-weight: 500;
}

.speed .speed-unit {
  font-size: 3rem;
  font-style: italic;
  text-transform: lowercase;
}

.speed .speed-info {
  font-size: 2rem;
  font-style: italic;
}

.speed .speed-flicker {
  -webkit-animation: flicker 1s infinite;
          animation: flicker 1s infinite;
}

.mode {
  font-size: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.gears {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 600;
}

.music-hood {
  margin-top: 2rem;
  height: 30%;
  width: 85%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.song-img {
  height: 13rem;
  -webkit-animation: rotate 4s infinite linear forwards;
          animation: rotate 4s infinite linear forwards;
}

.img-rotate {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.car-img {
  height: 25rem;
}

.music-section {
  height: 85%;
  width: 100%;
  position: relative;
}

.music-selection {
  height: 60%;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  border-radius: 30px;
  position: relative;
}

.music-selection input {
  display: none;
}

.queue-text {
  color: cyan;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-style: italic;
  font-weight: 600;
}

.add-file {
  height: 40px;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.separator {
  width: 95%;
  margin-block: 1rem;
  height: 2px;
  background-color: #00e1ff;
  position: relative;
  top: 8rem;
  -webkit-box-shadow: 0 0 4rem cyan;
          box-shadow: 0 0 4rem cyan;
  margin-inline: auto;
}

.song-list {
  position: relative;
  margin-top: 10rem;
  margin-inline: auto;
  max-height: 60%;
  width: 90%;
  overflow: auto;
  margin-bottom: 4rem;
}

.song-list .songs {
  color: cyan;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-block: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-style: italic;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.song-list .songs--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.music-player {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 70%;
  height: 30%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
}

.progress-container {
  width: 90%;
  height: 6px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100vw;
}

.progress {
  width: 0;
  cursor: progress;
  border-radius: 100vw;
  height: 100%;
  background-color: cyan;
  -webkit-box-shadow: 0 0 4rem cyan;
          box-shadow: 0 0 4rem cyan;
}

.music-control-container {
  height: 85%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.song-name,
.song-name-hood {
  color: cyan;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-block: 1.5rem;
}

.song-name-hood {
  font-size: 2.5rem;
}

.music-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.music-control img {
  height: 50px;
  cursor: pointer;
  display: none;
}

.music-control .current-btn,
.music-control .next-btn,
.music-control .prev-btn {
  display: block;
}

.music-control .mute {
  position: absolute;
  right: 3rem;
}

.music-control .mute img {
  height: 40px;
}

.music-control .mute .sound {
  display: block;
}

.error {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
  background-color: #fff;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.error-con {
  height: 85%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.error-img {
  height: 280px;
}

@media screen and (max-width: 900px) {
  .error {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .main-hood {
    display: none;
  }
}

@media screen and (max-height: 620px) {
  .error {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .main-hood {
    display: none;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */